//===========================
//  Global config
//===========================

// Color Scheme 

$color-primary-1          :   #64b6ac;
$color-primary-2          :   #c0fdfb;
$color-secondary-1        :   #fad4c0;
$color-secondary-2        :   #fee9e1;
$color-tertiary-1         :   #b09ee9;
$color-clash-1            :   #BC7A64;
$color-clash-2            :   #D7E99E;

// $color-primary-1          :   #054a91;
// $color-primary-2          :   #3e7cb1;
// $color-secondary-1        :   #81a4cd;
// $color-secondary-2        :   #dbe4ee;
// $color-tertiary-1         :   #f17300;

// Font Stacks

$font-url--google       :  "https://fonts.googleapis.com/css2?family=Poppins&display=swap";
$font-family--primary   : 'Poppins', sans-serif; 

// Breakpoints 

$breakpoint-xs    :280px;
$breakpoint-s     :576px;
$breakpoint-m     :768px;
$breakpoint-l     :992px;
$breakpoint-xl    :1200px;
