//===========================
//  Global config
//===========================

// Font Stacks

$font-url--google       :  "https://fonts.googleapis.com/css2?family=Poppins&display=swap";
$font-family--primary   : 'Poppins', sans-serif; 

// Breakpoints 

$breakpoint-xs    :280px;
$breakpoint-s     :576px;
$breakpoint-m     :768px;
$breakpoint-l     :992px;
$breakpoint-xl    :1200px;
