
//=========== Bases Layouts =======================

@include mq(large){
  main{
      margin-left: 200px;
  }
}

//======= Nav Layout ===================

%nav-lo{
  @include mq(large){
    nav{
      display: flex;
    }
  }
}


//==========- Burger Menu & Off Screen Menu Layout ========

%menu-btns{
  @include mq(large){
    .burger-menu{
      display: none;
    }
    .off-screen-menu{
      display: none;
    }

    .off-screen-menu-list{
      display: none;
    }
  }
}

//=========== Hero - Layout ===============================

%hero-lo{
  @include mq(large) {

#hero-title{
  font-size: 60px;
}

#hero-text{
  font-size: 26px;
  }
}

@include mq(medium) {
.off-screen-menu-list{
    display: flex;
    flex-wrap: wrap;
  }

.off-screen-menu-list>*{
    flex: 1 1 50%;
    }
  }
}


//======== Portfolio Layout ==========================
%portfolio{
@include mq(large){

  .port-outer {
    flex-direction: row;
      flex-wrap: wrap;  
      margin: 0px 5%;
  }

  .port-outer>*{
    flex: 1 1 calc(50% - 60px);    
    }    
  }
}

//============ Form Layout ==================

%form-lo{
  @include mq(small){
    .text-small{
    font-size: 16px;
    }
  }


  @include mq(large){
    #contact{
      display: flex;
      flex-wrap: wrap;
    }

    #contact>*{
      flex: 1 1 calc(50% - 200px);
    }

.input-names{
  display: flex;
  flex-direction: row;
  gap: 20px;
    }
  }
}


//========= SCS Layout ==============

%scs-lo{
  @include mq(large) {
    .img-container-scs{
      display: flex;
    }
  }
}