*{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Poppins' , sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	background-color: rgba($color: #b09ee9, $alpha: 0.2);
}



ul,ol{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	&:visited{
		color: inherit;
	}
}

main{
	display: flex;
	flex-direction: column;
}

.container-inner{
	display: flex;
	flex-direction: column;	
	width: 100%;
	margin: 0 auto;
	max-width: 1440px;
}
