
.about-me-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    
}

.about-me-text-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.about-info{
    font-size: 18px;
    line-height: 24px;
}

.tech-stack-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.tech-stack-title{
    font-size: 30px;
    text-align: center;
}

.tech-stack{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    margin-top: 40px;
}

.icn-tech-stack{
    transform: scale(1.5);
    opacity: 0.9;
}