

input[type=submit]{
    border: solid $color-tertiary-1 2px;
    border-radius: 5px;
    color: #000;
    background-color: $color-clash-2;
    padding: 10px 15px;
    &:hover{
        transition: 0.5s;
        transform: scale(1.1);
    }
}

.button-box{
    display: flex;
    flex-direction: row;
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
}

.toggle-btn{
    padding: 10px 40px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
}

#btn{
    left: 0;
    top:0;
    position: absolute;
    width: 110px;
    height: 100%;
    background-color: yellow;
    border-radius: 30px;
    transition: 0.5s;
}



//==================================

#menu-btns{
    width: calc(100% - 200px);
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 20px;
    height: 80px;
    justify-content: right;
    margin: 10px;
}

//========== Burger Menu ===============

.burger-menu{
    background-color: black;
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer; 
    padding: 15px;
    border-radius: 5px;
    z-index: 3;
}

.ham-bar{
    width: 70%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.6s, opacity 0.8s, top 0.6s;
    border-radius: 25px;
}

.bar-top{
    top: 25%;

}

.bar-bot{
    top: 75%;
}

.burger-menu.active .bar-top{
transform: translate(-50%, -50%) rotate(-315deg);
top: 50%;
}

.burger-menu.active .bar-mid{
    opacity: 0;
}

.burger-menu.active .bar-bot{
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
}


//============= Off Screen Menu ===============

.off-screen-menu{
    position: fixed;
    top: 0;
    right:  -75%;
    background-color: $color-tertiary-1;
    height: 100vh;
    width: 75%;
    transition: right 0.5s;
    z-index: 2;
}

.off-screen-menu.active{
right: 0;
}

.nav-link-off-screen{
    padding: 5px 20px;
    color: black;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    a{
        color: #000;
    }
    a:hover {
        text-decoration: underline 4px;
        text-decoration-color: $color-secondary-1;
    }

}