#contact{
    @extend %form-lo
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0px 5%;
}

.contact-title{
    margin-top: 30px;
    width: 100%;
    display: flex;
    padding-top: 10px;
    justify-content: center;
        font-size: 30px;
        align-items: center; 
        gap: 20px;
}

.form-contact{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 30px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    border: solid $color-tertiary-1 4px;
    border-radius: 10px;
    padding: 20px;
    p{
        font-size: 18px;
    }
}

.form-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 10px;
    border: solid $color-tertiary-1 4px;
    border-radius: 10px;
}

.input-names{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
}

.data-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

// input[type=text], input[type=email]{
//     width: auto;
//     border: 0;
//     padding: 20px 10px;
//     background-color: rgba($color: #D7E99E, $alpha: 1);
//     border: solid $color-tertiary-1 3px;
//     border-radius: 5px;
//     &::placeholder{
//         color: #000;
//     }
// }

.input-box{
    width: auto;
    border: 0;
    padding: 20px 10px;
    background-color: rgba($color: #D7E99E, $alpha: 1);
    border: solid $color-tertiary-1 3px;
    border-radius: 5px;
    outline: none;
    &::placeholder{
        color: #667;
    }
    &:focus{
        border: solid $color-primary-1 3px;
    }
}

.text-small{
    font-size: 15px;
}

textarea{
    min-height: 100px;
}

.form-submit-button{
    width: auto;
    border: 0;
    padding:10px;
    background-color: rgba($color: #D7E99E, $alpha: 1);
    border: solid $color-tertiary-1 3px;
    border-radius: 5px;
    outline: none;
    color: #667;
    &:hover{
        background-color: #cfe77e;
    }
}

//========= Error / Success Messages =============

.submit_message_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 0px;
    font-size: 1rem;
    align-items: center;
    margin-bottom: 10px
};

.submit-successful{
    display: flex;
    color: #fff;
    background-color: #2ecc71;
    width: 100%;
    padding: 15px;
    margin: 10px;   
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
};

.submit_message_close{
    display: flex  !important;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: #2ecc71;
    &:hover{
    background-color: #74ce99;
    }
    padding: 5px;
border: 1px #fff solid;
border-radius: 2px;
}

.error-input{
    border: 3px solid #a94442 !important;
}



.submit-failed{
display: flex;
color: #a94442;
background-color: #e98989;
border: solid 1px #e47b7b;
width: 100%;
padding: 15px;
margin: 10px;
text-align: left;
border-radius: 5px;
justify-content: space-between;
align-items: center
};

.submit_message_close_error{
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: #e98989;
    &:hover{
    background-color: #e9b2b2;
    ;
    }
    padding: 5px;
border: 1px #d45f5f solid;
border-radius: 5px;
}

