#hero-lo{
    @extend %hero-lo;
}

.hero{
    height: 100vh;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $color-secondary-1;
    background-repeat: none;
    background-size: cover;
}

.hero-text-box{
    flex-direction: column;
    justify-content: center; 
    text-align: center;   
    padding: 20px;
    border-radius: 10px;
    background-color: $color-clash-2;
    border: solid $color-primary-1 4px;
    border-radius: 10px;
    color: #000;
    width: 90%;
}

// #hero-title{
//     font-size: 30px;
// }

// #hero-text{
//     font-size: 16px
// }


.scroll-down{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 20px 0px;
    font-weight: 600;
    color: #000;
    &:hover{
        color: #667;
    }
    

}
