#hero-lo{
    @extend %hero-lo;
}

.hero{
    height: 100vh;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $color-secondary-1;
}

.hero-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;   
    padding: 20px;
    border-radius: 10px;
    background-color: $color-tertiary-1;
    border: solid $color-primary-1 4px;
    border-radius: 10px;
    color: #000;
    width: 90%;

}

.hero-title{
    font-size: 38px;
}

.hero-text{
    font-size: 24px;

}


.scroll-down{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 45%;
    align-items: center;
    position: relative;
    

}
