main{
    margin-left: 200px;
}

.hero{
    height: 100vh;
    background-size: 70%;
    background-repeat: repeat;
    opacity: 80%;
    background-image: rgba($color: #000000, $alpha: 0.5);
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text-box{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;   
    padding: 20px;
    border-radius: 10px;
    background-color: grey;
    opacity: 70%;
    color: papayawhip;
}

.hero-title{
    font-size: 44px;
}

.hero-text{
    font-size: 24px;

}

