#nav-lo{
    @extend %nav-lo;
}

#menu-btns{
    @extend %menu-btns
}

nav{
    width: 200px;
    position: fixed;
    border-right: solid $color-primary-1 4px;
    height: 100%;
    justify-content: center;
    background-color: $color-tertiary-1;
    display: none;
}

.nav-link-initials{
    border-bottom: solid $color-primary-2 4px;
    padding: 10px 20px;
    a{
        font-size: 64px;
        color: #000;
        &:hover{
            color: #667;
        }
    }
}

.nav-link{
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 600;
    width: 90%;
    border-bottom: solid $color-primary-2 2px ;
    a{
        color: #000;
        &:hover{
            color: #667;
        }
    }
    &:last-child{
        border-bottom: none;
    }
    &:hover{
        text-decoration: underline;
        text-decoration-color: $color-tertiary-1;
    }
}

